# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# web application files
web-app/WEB-INF/classes

# "temporary" build files
/target

# Test files
/test

# log4j files
/logs

# Internationalization
#grails-app/i18n/
