
.centerAlign {
    margin-top: 3%;
    margin-left: 30%;
}

.titleBottomAlign {
    margin-bottom: 2%;
}

.highlight {
    background-color: grey;
}

.textArea {
    width: 100%;
}

.topMargin {
    margin-top: 1%;
}

.btnFontWeight {
    font-weight: 800;
}

.tableWidth {
    table-layout: fixed !important;
    width: 100% !important;
    word-wrap: break-word;
}

.dataTables_scrollHeadInner{
    width: 100% !important;
}

.fontColor {
    color: #827C7C;
}

/*For adjusting the highlighter base line*/
.floatLabel {
    margin-bottom: 0px;
}

.topPadding{
    padding-top: 0px !important;
}

.labelColor{
    color: darkgrey;
}
/*
#deviceMapDataTable tr td {
    height: 5%;
}*/

.categoryLabel{
    text-align: left!important;
}

.customError {
    color: red;
}

.dataTableTr {
    height: 10px !important;
    overflow-x: hidden !important;
}

.dropDownMenuBackgroundColor{
    background-color: #3F3B73!important;
}

.radiobuttonDistance {
    margin-left: 10%;
}

.editGlyphicon {
    color: #367fa9;
    font-size: 20px;
}

.passwordChangeGlyphicon{
    margin-left: 5%;
    font-size: 20px;
    color: #605ca8;
}

.dataTableActionMargin{
    margin-left: 15px;
    margin-right: 10px;
}

.dataTableAddActionSize{
    font-size: 25px;
    margin-left: 15px;
}

.addAnotherMenu{
    font-size: 25px;
    padding-bottom: 5px;
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px;
}

.rightMargin{
    margin-right: 15px;
}

.leftMargin{
    margin-left: 2px;
}

.backgroundColor{
    background-color: #444 !important;
}

.glyphicon{
    top: 5px;
}

* {
.border-radius(0) !important;
}

#field {
    margin-bottom:20px;
}

.inputBoxWidth{
    width: 100%;
}

.topMargin{
    margin-top: 20px;
}

.topDivMargin{
    margin-top: 5px;
}

.hrColor{
    border-color: goldenrod;
}

.container{
    width: 100%;
}

.rowMargin{
    margin-right: 0px;
    margin-left: 0px;
}